{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
    <?php include "assets/php/session.php";signup();?>
    <!--<title>Foundation for Sites</title>
    
  </head>
  <body>-->

    {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
    {{> body}}
    <script src="{{root}}assets/js/app.js"></script>
    <script type = "text/javascript" src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'></script>
    <!--Change this and-->
    <script type = "text/javascript" src = "https://rawgit.com/alexei/sprintf.js/master/src/sprintf.js"></script>
  </body>
</html>